<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Armand's Obstacle Course (Briefing)</title>
    <link rel="stylesheet" href="../../../assets/css/style.css" />
    <script src="../../../assets/js/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body style="background-image: url(../../../assets/images/MainMenuBackground.png)">
    <div class="center-start">
        <div class="brief-title">
            Armand's Obstacle Course
        </div>
        <div class="brief-info">
            Your main goal is to not to die ;] and to accomplish that, you only need to do some really simple things:
        </div>
        <div class="brief-objects">
            Collect the <span id="star">blue</span> boxes. <img src="../../../assets/images/CollectBox.png"> <br />
            Avoid <span id="obstacle">red boxes.</span> <img src="../../../assets/images/ObstacleBox.png"> <br />
            <br/>
            You are stylized as a <span id="pacman">Pac-Man.</span> <img src="../../../assets/images/PacMan.png">
        </div>
        <div class="brief-controls">
            <span id="controls-title">Controls:</span>
            <span id="controls-info">
                <br />
                W/↑: UP <br />
                S/↓: DOWN <br />
                A/←: LEFT <br />
                D/→: RIGHT
            </span>
        </div>
        <div class="level-start">
            <button onclick="window.location.href='../action/action_game.html'" id="button-Start">START</button>
        </div>
    </div>
</body>
</html>